<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<resultMap id="elecApproval" type="elecApproval">
		<id column="ec_doc_no" property="ecDocNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="ec_doc_name" property="ecDocName"/>
		<result column="ec_writer" property="ecWriter"/>
		<result column="ec_title" property="ecTitle"/>
		<result column="ec_cnt" property="ecCnt"/>
		<result column="ec_code" property="ecCode"/>
		<result column="ec_enrolldate" property="ecEnrolldate"/>
		<result column="ec_updatedate" property="ecUpdatedate"/>
		<result column="ec_compdate" property="ecCompdate"/>
		<result column="ec_canceldate" property="ecCanceldate"/>
		<result column="ec_status" property="ecStatus"/>	
	</resultMap>
	
	<resultMap type="Dept" id="dept">
		<id column="dept_no" property="deptNo" />
		<result column="dept_name" property="deptName" />
	</resultMap>
	
	<resultMap type="Member" id="member">
		<id column="mem_no" property="memNo" />
		<result column="dept_no" property="deptNo" />
		<result column="posi_no" property="posiNo" />
		<result column="id" property="id" />
		<result column="pwd" property="pwd" />
		<result column="mem_name" property="memName" />
		<result column="off_count" property="offCount" />
		<result column="dept_name" property="deptName"/>
		<result column="posi_name" property="posiName"/>
	</resultMap>
	
	<!-- 전자결재 전체 리스트 조회 -->
	<select id="selectApprovalTotalList" resultMap="elecApproval">
		select 
		       e.ec_doc_no
		     , ec_doc_name
		     , ec_code
		     , ec_writer
		     , ec_title
		     , to_char(ec_enrolldate, 'YYYYMMDD') ec_enrolldate
		     , to_char(ec_compdate, 'YYYY-MM-DD') ec_compdate 
		     , ec_canceldate
		     , (select a.ec_status
		          from approval_path a
		         where ec_turn = (select max(ec_turn)
		                            from approval_path ap
		                           where e.ec_doc_no = ap.ec_doc_no)
		           and e.ec_doc_no = a.ec_doc_no)
		  from ec_document e
		 where e.ec_status = 'Y' 
		 order 
		    by ec_enrolldate desc
	</select>
	
	<!-- 작성자 : 안소은 = 결재선 부서 리스트 조회 -->
	<select id="selectDept" resultMap="dept">
		select
			   dept_no
			 , dept_name
	      from dept
	</select>
	
	<!-- 작성자 : 안소은 / 결재선 사원, 부서명, 직급 조회 -->
	<select id="selectMember" resultMap="member">
		select
		       mem_no
		     , mem_name
		     , dept_name
		     , posi_name
		  from member m
		  join dept d on (m.dept_no = d.dept_no)
		  join position p on(m.posi_no = p.posi_no)
		 where m.dept_no = d.dept_no
	</select>
	
	<!-- 작성자 : 안소은 / 결재선 부서별 사원 조회 -->
	<select id="selectMemberList" resultMap="member">
		select
		       mem_name
		     , posi_name
		  from member m
		  join position p on(m.posi_no = p.posi_no)
		 where m.dept_no = ${memNo}
	</select>
	
	<!-- 작성자 : 안소은 = 결재선 부서별 사원 수 조회 
	<select id="memCount" resultMap="member">
		select 
		       count(mem_no) 
		     , dept_name
		  from member m
		  join dept d on (m.dept_no = d.dept_no)
		 where m.dept_no = d.dept_no 
		 group 
		    by dept_name;
	</select>
	-->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>
