<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<resultMap id="elecApproval" type="elecApproval">
		<id column="ec_doc_no" property="ecDocNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="ec_doc_name" property="ecDocName"/>
		<result column="ec_writer" property="ecWriter"/>
		<result column="ec_title" property="ecTitle"/>
		<result column="ec_cnt" property="ecCnt"/>
		<result column="ec_code" property="ecCode"/>
		<result column="ec_enrolldate" property="ecEnrolldate"/>
		<result column="ec_updatedate" property="ecUpdatedate"/>
		<result column="ec_compdate" property="ecCompdate"/>
		<result column="ec_status" property="ecStatus"/>	
	</resultMap>
	
	
	<!-- 전자결재 전체 리스트 조회 -->
	<select id="selectApprovalTotalList" resultMap="elecApproval">
		 select 
		       ec_doc_no
		     , ec_doc_name
		     , ec_code
		     , ec_title  
		     , ec_writer	     
		     , to_char(ec_enrolldate, 'YYYYMMDD') ec_enrolldate
		     , to_char(ec_compdate, 'YYYY-MM-DD') ec_compdate
		     , ec_status
		  from ec_document 		 
		 where ec_status = 'Y' 
		 order 
		    by ec_doc_no desc
	</select>
	
	<!--  
	<select id="selectApprovalTotalList" resultMap="elecApproval">
		select 
		       e.ec_doc_no
		     , ec_code
		     , ec_writer
		     , ec_title
		     , to_char(ec_enrolldate, 'YYYY-MM-DD') ec_enrolldate
		     , to_char(ec_compdate, 'YYYY-MM-DD') ec_compdate 
		     , a.ec_status
		  from ec_document e
		  join approval_path a on (a.ec_doc_no = e.ec_doc_no)
		 where e.ec_status = 'Y' 
		 order 
		    by ec_doc_no desc;
	</select>
	-->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>
