<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardFreeMapper">

	<resultMap id="boardFree" type="boardFree">
		<id column="free_no" property="freeNo"/>
		<result column="id" property="memNo"/>
		<result column="free_title" property="freeTitle"/>
		<result column="free_cnt" property="freeCnt"/>
		<result column="free_enrolldate" property="freeEnrolldate"/>
		<result column="free_updatedate" property="freeUpdatedate"/>
		<result column="free_count" property="freeCount"/>
		<result column="free_status" property="freeStatus"/>
		<result column="free_file_origin" property="freeFileOrigin"/>
		<result column="free_file_update" property="freeFileUpdate"/>
	</resultMap>
	
	<resultMap id="boardFreeReply" type="boardFreeReply">
		<id column="free_reply_no" property="freeReplyNo"/>
		<result column="free_no" property="freeNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="free_reply_count" property="freeReplyCount"/>
		<result column="free_reply_cnt" property="freeReplyCnt"/>
		<result column="free_reply_enroll" property="freeReplyEnroll"/>
		<result column="free_reply_update" property="freeReplyUpdate"/>
		<result column="free_reply_like" property="freeReplyLike"/>
		<result column="free_reply_status" property="freeReplyStatus"/>
	</resultMap>
	
	
	<!-- 자유게시판 리스트 조회 -->
	<select id="selectBoardFreeList" resultMap="boardFree">
		select 
		       free_no
		     , id
		     , free_title
		     , free_count
		     , to_char(free_enrolldate, 'YYYY-MM-DD') free_enrolldate		      
		  from free_board f
		  join member m on (m.mem_no = f.mem_no)
		 where free_status = 'Y' 
		 order
		    by free_no desc
	</select>
	
	
	<!-- 자유게시판 상세 조회 -->
	<update id="increaseCount" parameterType="_int">
  		update 
  			   free_board  
  		   set free_count = free_count + 1 
  		 where free_no = #{freeNo} 
  		   and free_status = 'Y'   	           
  	</update>
  	
  	<select id="selectBoardFree" resultMap="boardFree" parameterType="_int">
  		select 
  			   free_no
  			 , id 
  		     , free_title
  		     , free_count
  		     , free_cnt 
  		     , free_file_origin
  		     , free_file_update 
  		     , to_char(free_enrolldate, 'YYYY-MM-DD') free_enrolldate 
  		  from free_board f
  		  join member m on (m.mem_no = f.mem_no) 
  		 where free_no = #{freeNo} 
  		   and free_status = 'Y'       
  	</select>
	
	
</mapper>