<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="personnelMgtMapper">

	<resultMap type="PersonnelMgt" id="attendance">
		<id column="attend_no" property="attendNo" />
		<result column="mem_no" property="memNo" />
		<result column="today" property="today" />
		<result column="check_in" property="checkIn" />
		<result column="check_out" property="checkOut" />
		<result column="total_time" property="totalTime" />
		<result column="atCount" property="atCount" />
		<result column="atSum" property="atSum" />
		<result column="atAvg" property="atAvg" />
	</resultMap>
	
	<resultMap id="salaryDto" type="salaryDto">
		<id column="salary_list_no" property="salaryListNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="working_year" property="workingYear"/>
		<result column="working_month" property="workingMonth"/>
		<result column="working_hour" property="workingHour"/>
		<result column="overtime_hour" property="overtimeHour"/>
		<result column="salary" property="salary"/>
		<result column="salary_day" property="salaryDay"/>
		<result column="posi_no" property="posiNo"/>
		<result column="posi_name" property="posiName"/>
		<result column="base_salary" property="baseSalary"/>
		<result column="hourly_pay" property="hourlyPay"/>
		<result column="attend_no" property="attendNo" />
		<result column="atCount" property="atCount" />
		<result column="atSum" property="atSum" />
		<result column="atAvg" property="atAvg" />
	</resultMap>
	
	<resultMap id="off" type="off">
		<id column="ec_doc_no" property="ecDocNo"/>
		<result column="off_start" property="offStart"/>
		<result column="off_end" property="offEnd"/>
		<result column="ec_doc_name" property="ecDocName"/>
		<result column="ec_enrolldate" property="ecEnrolldate"/>
		<result column="ec_status" property="ecStatus"/>
	</resultMap>   	
	
	<!-- 작성자 : 안소은 - 오늘날짜count 조회 -->
	<select id="countToday" resultMap="attendance">
		select
		       count(*) atCount
		  from attendance
         where to_char(today, 'YYYY-MM-DD') = to_char(sysdate, 'YYYY-MM-DD')
           and mem_no = #{memNo}
	</select>
	
	<!-- 작성자 : 안소은 - 로그인한 유저의 출근날이 오늘이고 퇴근시간이 null이면 1 -->
	<select id="countCheckOut" resultMap="attendance">
		select
		       count(*) atCount
		  from attendance
         where to_char(today, 'YYYY-MM-DD') = to_char(sysdate, 'YYYY-MM-DD')
           and check_out is null
           and mem_no = #{memNo}
	</select>
	
	<!-- 작성자 : 안소은 - 연별 근무일수, 총근무시간, 평균근무시간 조회 -->
	<select id="selectTotalWorkDay" resultMap="attendance">
		select
		       count(*) atCount
		     , ceil(sum(total_time) / 60) atSum
		     , ceil(avg(total_time) / 60) atAvg
		  from attendance
		 where mem_no = #{memNo}
		   and extract(year from today) = extract(year from sysdate)
	</select>
	
	<!-- 작성자 : 안소은 - 출근시간 조회 -->
	<select id="selectCheckIn" resultMap="attendance" parameterType="_int">
		select check_in
		  from attendance
		 where to_char(today, 'YYYY-MM-DD') = to_char(sysdate, 'YYYY-MM-DD')
		   and mem_no = ${memNo}
	</select>
	
	<!-- 작성자 : 안소은 - 퇴근시간 조회 -->
	<select id="selectCheckOut" resultMap="attendance" parameterType="_int">
		select check_out
		  from attendance
		 where to_char(today, 'YYYY-MM-DD') = to_char(sysdate, 'YYYY-MM-DD')
		   and mem_no = ${memNo}
	</select>
	
	<!-- 작성자 : 안소은 - 출근시간 insert -->
	<insert id="insertCheckIn" parameterType="personnelmgt">
		insert
		  into attendance
		  (
		    attend_no
		  , mem_no
		  , today
		  , check_in
		  )
		  values
		  (
		    seq_adno.nextval
		  , #{memNo}
		  , sysdate
		  , to_char(current_timestamp, 'hh24 : mi')
		  )
	</insert>
	
	<!-- 작성자 : 안소은 - 퇴근시간 update -->
	<update id="insertCheckOut" parameterType="personnelmgt">
		update
		       attendance
		   set check_out = to_char(current_timestamp, 'hh24 : mi')
		     , total_time = (to_date(to_char(current_timestamp, 'HH24 : MI'), 'HH24 : MI') - to_date(check_in, 'HH24 : MI')) * 24 * 60
       where mem_no = #{memNo}
         and check_out is null
         and check_in is not null
	</update>
	
	<!-- 작성자 : 김혜미 - 급여내역 조회 -->
	<select id="slaryList" resultMap="salaryDto">
		select
		       salary_list_no
		     , s.mem_no
		     , working_year
		     , working_month
		     , working_hour
		     , overtime_hour
		     , salary
		     , salary_day
		     , p.posi_no
		     , base_salary
		     , hourly_pay
		 from salary_list s
		 join member m on (m.mem_no = s.mem_no)
		 join position p on (p.posi_no = m.posi_no)
		order
		   by working_year desc
		    , working_month desc
	</select>
	
	<!-- 작성자 : 김혜미 - 연차내역 조회 -->
	<select id="offList" resultMap="off">
		select 
		       o.ec_doc_no
		     , off_start
		     , off_end
		     , e.ec_doc_name
		     , ec_enrolldate
		     , ec_status
		  from off o 
		  join ec_document e on (e.ec_doc_no = o.ec_doc_no)
		  join member m on (m.mem_no = e.mem_no)
		 where e.mem_no = #{memNo}
		 order
            by ec_enrolldate desc
	</select>

</mapper>
