<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="personnelMgtMapper">

	<resultMap type="PersonnelMgt" id="attendance">
		<id column="attend_no" property="attendNo" />
		<result column="mem_no" property="memNo" />
		<result column="today" property="today" />
		<result column="check_in" property="checkIn" />
		<result column="check_out" property="checkOut" />
		<result column="total_time" property="totalTime" />
		<result column="atCount" property="atCount" />
		<result column="atSum" property="atSum" />
		<result column="atAvg" property="atAvg" />
	</resultMap>
	
	<!-- 작성자 : 안소은 - null값인 퇴근시간, 총근무시간 조회 -->
	<select id="selectAttend" resultMap="attendance">
		select 
			   check_out
			 , total_time
		  from attendance
		 where mem_no = #{memNo}
		   and check_out is null
		   and total_time is null
	</select>
	
	<!-- 작성자 : 안소은 - 근무일수 조회 -->
	<select id="selectTotalWorkDay" resultMap="attendance">
		select
		       count(*) atCount
		     , ceil(sum(total_time) / 60) atSum
		     , ceil(avg(total_time) / 60) atAvg
		  from attendance
		 where mem_no = #{memNo}
		   and extract(year from today) = extract(year from sysdate)
	</select>
	
	<!-- 작성자 : 안소은 - 출근시간 insert -->
	<insert id="insertCheckIn" parameterType="personnelmgt">
		insert
		  into attendance
		  (
		    attend_no
		  , mem_no
		  , today
		  , check_in
		  )
		  values
		  (
		    seq_adno.nextval
		  , #{memNo}
		  , sysdate
		  , to_char(current_timestamp, 'hh24:mi')
		  )
	</insert>
	<!-- 퇴근하기 버튼클릭시 check_out update문 -->
	<update id="insertCheckOut" parameterType="personnelmgt">
		update
		       attendance
		   set check_out = to_char(current_timestamp, 'hh24:mi')
		 where mem_no = 14
		   and check_out is null
	</update>
	

</mapper>
