<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="storeMapper">

	<resultMap id="product" type="product">
		<id column="pdt_no" property="pdtNo"/>
		<result column="pdt_ctg" property="pdtCtg"/>
		<result column="pdt_file" property="pdtFile"/>
		<result column="pdt_name" property="pdtName"/>
		<result column="pdt_detail" property="pdtDetail"/>
		<result column="org_price" property="orgPrice"/>
		<result column="mem_price" property="memPrice"/>
		<result column="pdt_stock" property="pdtStock"/>
		<result column="pdt_enrolldate" property="pdtEnrolldate"/>
		<result column="pdt_status" property="pdtStatus"/>
   </resultMap>


	<!-- 작성자 : 김혜미 - 상품 리스트 조회 (페이징처리) -->
	<select id="selectProductListCount" resultType="_int">
		select
			   count(*)
		  from product
		 where pdt_status = 'Y'
	</select>


   <!-- 작성자 : 김혜미 - 상품 리스트 조회 (페이징처리) -->
   <select id="selectProductList" resultMap="product">
		select 
			   pdt_no
			 , pdt_ctg
			 , pdt_file
			 , pdt_name
			 , org_price
  			 , mem_price
  			 , to_char(pdt_enrolldate, 'YYYY-MM-DD') pdt_enrolldate
		  from product
		 where pdt_status = 'Y'
		 order
			by pdt_no desc
   </select>
   
   
	<!-- 작성자 : 김혜미 - 상품 상세조회 -->
	<select id="selectProductDetail" resultMap="product" parameterType="_int">
		select 
			   pdt_no
 			 , pdt_ctg
			 , pdt_file
			 , pdt_name
			 , pdt_detail
			 , org_price
			 , mem_price
			 , pdt_stock
 		  from product
		 where pdt_no = #{pdtNo}
	</select>
	
	
	<!-- 작성자 : 김혜미 - 바로 구매하기 -->
	<select id="buyNowProduct" resultMap="product" parameterType="_int">
		select 
			   pdt_no
 			 , pdt_ctg
			 , pdt_file
			 , pdt_name
			 , pdt_detail
			 , org_price
			 , mem_price
			 , pdt_stock
 		  from product
		 where pdt_no = #{pdtNo}
	</select>
	
   
	<!-- 작성자 : 김혜미 - 상품 리스트 조회 (관리자) -->
	<select id="selectProductListAdmin" resultMap="product">
		select 
			   pdt_no
			 , pdt_ctg
			 , pdt_name
			 , org_price
			 , mem_price
			 , pdt_status
		  from product
		 order
			by pdt_no desc
   </select>
   
	<!--  작성자 : 김혜미 - 상품 상세조회 (관리자) -->
	<select id="selectProductDetailAdmin" resultMap="product" parameterType="_int">
   		select 
			   pdt_no
			 , pdt_ctg
			 , pdt_file
			 , pdt_name
			 , pdt_detail
			 , org_price
			 , mem_price
			 , pdt_stock
			 , to_char(pdt_enrolldate, 'YYYY-MM-DD') pdt_enrolldate
			 , pdt_status
		  from product
		 where pdt_no = #{ pdtNo }
	</select>
   
   <!-- 작성자 : 박지은 - 장바구니 목록 조회 -->
   <select id="cartList" parameterType="int" resultType="com.brEnt.brFamily.store.model.vo.Cart">
   		select
   			   c.cart_no as cartNo
   			 , c.mem_no as memNo
   			 , c.pdt_no as pdtNo
   			 , c.pdt_count as pdtCount
   			 , c.insert_date as insertDate
   			 , p.pdt_ctg as pdtCtg
   			 , p.pdt_file as pdtFile
   			 , p.pdt_name as pdtName
   			 , p.org_price as orgPrice
   			 , p.mem_price as memPrice
   			 , p.pdt_stock as pdtStock
   			 , p.pdt_enrolldate as pdtEnrolldate
   			 , p.pdt_status as pdtStatus
		  from cart c, product p
		 where c.pdt_no = p.pdt_no
		   and c.mem_no = #{memNo}
   </select>
   

</mapper>