<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<!-- settings, typeAliases, mappers -->

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 별칭등록 :폴더리스트 순으로-->
	<typeAliases>
		<typeAlias type="com.brEnt.brFamily.artist.model.vo.Artist" alias="Artist"/>
		<typeAlias type="com.brEnt.brFamily.boardArchive.model.vo.BoardArchive" alias="BoardArchive"/>
		<typeAlias type="com.brEnt.brFamily.boardEvent.model.vo.BoardEvent" alias="BoardEvent"/>
		<typeAlias type="com.brEnt.brFamily.boardEvent.model.vo.BoardEventReply" alias="BoardEventReply"/>
		<typeAlias type="com.brEnt.brFamily.boardFree.model.vo.BoardFree" alias="BoardFree"/>
		<typeAlias type="com.brEnt.brFamily.boardFree.model.vo.BoardFreeReply" alias="BoardFreeReply"/>
		<typeAlias type="com.brEnt.brFamily.boardMenu.model.vo.BoardMenu" alias="BoardMenu"/>
		<typeAlias type="com.brEnt.brFamily.boardMenu.model.vo.BoardMenuReply" alias="BoardMenuReply"/>
		<typeAlias type="com.brEnt.brFamily.chat.model.vo.Chat" alias="Chat"/>
		<typeAlias type="com.brEnt.brFamily.elecApproval.model.vo.Approval_path" alias="ApprovalPath"/>
		<typeAlias type="com.brEnt.brFamily.elecApproval.model.vo.ElecApproval" alias="ElecApproval"/>
		<typeAlias type="com.brEnt.brFamily.elecApproval.model.vo.ElecApprovalFile" alias="ElecApprovalFile"/>
		<typeAlias type="com.brEnt.brFamily.elecApproval.model.vo.Off" alias="Off"/>
		<typeAlias type="com.brEnt.brFamily.elecApproval.model.vo.ExpenseForm" alias="Expense"/>
		<typeAlias type="com.brEnt.brFamily.mail.model.vo.ReceiveMail" alias="ReceiveMail"/>
		<typeAlias type="com.brEnt.brFamily.mail.model.vo.SendMail" alias="SendMail"/>
		<typeAlias type="com.brEnt.brFamily.mail.model.vo.MailFile" alias="MailFile"/>
		<typeAlias type="com.brEnt.brFamily.meetingRoom.model.vo.MeetingRoom" alias="MeetingRoom"/>
		<typeAlias type="com.brEnt.brFamily.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.brEnt.brFamily.member.model.vo.Dept" alias="Dept"/>
		<typeAlias type="com.brEnt.brFamily.member.model.vo.Position" alias="Position"/>		
		<typeAlias type="com.brEnt.brFamily.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.brEnt.brFamily.notice.model.vo.NoticeReply" alias="NoticeReply"/>
		<typeAlias type="com.brEnt.brFamily.personnelMgt.model.vo.PersonnelMgt" alias="PersonnelMgt"/>
		<typeAlias type="com.brEnt.brFamily.phoneBook.model.vo.PhoneBook" alias="PhoneBook"/>
		<typeAlias type="com.brEnt.brFamily.schedule.model.vo.Schedule" alias="Schedule"/>
		<typeAlias type="com.brEnt.brFamily.store.model.vo.Product" alias="Product"/>
		<typeAlias type="com.brEnt.brFamily.store.model.vo.Cart" alias="Cart"/>
		<typeAlias type="com.brEnt.brFamily.store.model.vo.PayDto" alias="PayDto"/>
	</typeAliases>
	
	<!-- mapper파일 등록 -->
	<mappers>
		<mapper resource="/mappers/approval-mapper.xml" />
		<mapper resource="/mappers/archive-mapper.xml" />
		<mapper resource="/mappers/artist-mapper.xml" />
		<mapper resource="/mappers/chat-mapper.xml" />
		<mapper resource="/mappers/event-mapper.xml" />
		<mapper resource="/mappers/free-mapper.xml" />
		<mapper resource="/mappers/mail-mapper.xml" />
		<mapper resource="/mappers/meetingRoom-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/menu-mapper.xml" />
		<mapper resource="/mappers/notice-mapper.xml" />
		<mapper resource="/mappers/personnelMgt-mapper.xml" />
		<mapper resource="/mappers/phoneBook-mapper.xml" />
		<mapper resource="/mappers/schedule-mapper.xml" />
		<mapper resource="/mappers/store-mapper.xml" />
		<mapper resource="/mappers/mypage-mapper.xml" />
	</mappers>



</configuration>
