<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<!-- settings, typeAliases, mappers -->

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 별칭등록 -->
	<typeAliases>
		<typeAlias type="com.brEnt.brFamily." alias=""/>
		<typeAlias type="com.brEnt.brFamily." alias=""/>
		<typeAlias type="com.brEnt.brFamily." alias=""/>
	</typeAliases>
	
	<!-- mapper파일 등록 -->
	<mappers>
		<mapper resource="/mappers/approval-mapper.xml" />
		<mapper resource="/mappers/archive-mapper.xml" />
		<mapper resource="/mappers/artist-mapper.xml" />
		<mapper resource="/mappers/chat-mapper.xml" />
		<mapper resource="/mappers/event-mapper.xml" />
		<mapper resource="/mappers/free-mapper.xml" />
		<mapper resource="/mappers/mail-mapper.xml" />
		<mapper resource="/mappers/meetingRoom-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/menu-mapper.xml" />
		<mapper resource="/mappers/notice-mapper.xml" />
		<mapper resource="/mappers/personnelMgt-mapper.xml" />
		<mapper resource="/mappers/phoneBook-mapper.xml" />
		<mapper resource="/mappers/schedule-mapper.xml" />
	</mappers>

</configuration>
